.navbar{
    background-color: bisque;
}
.navbar .navbar-brand{
    color:white
}
.navbar .nav-link{
    color: white;
    text-decoration:none;
    margin-right:200px;
}

@media (max-width: 576px) {
    .navbar .nav-link {
        margin-right: 0;
        
    }
}